<%- include header.ejs %>
<section class='container-fluid'>
	<nav class="row">
		<ul class="nav pull-left">
			<li> <a href="/"><span class="glyphicon glyphicon-arrow-left"></span> back</a></li>
		</ul>
	</nav>
	<div class="row">
		<section class="videos col-md-6" >
			<video id='remoteVideo' autoplay class="thumbnail" src="none" mute></video>
			<video id='localVideo' autoplay class="thumbnail" src="none" mute></video>
			<p>
				<code class="linkText ">http://<%= domain %>/<%= roomName %></code>
				- share this link with the person you want to connect to.
			</p>	
		</section>
		<section class="controls col-md-6">
		<h2>Audio controls</h2>
		<%- include audioControls.ejs %>
		</section>
		
	</div>

</section>
<script type='text/javascript'> var room =typeof <%= roomName %> =="undefined"?'':'<%= roomName %>';</script>
<%- include footer.ejs %>