<%- include header.ejs %>
	<div class="row">
		<section class="videos col-md-6" >
			<video id='remoteVideo' autoplay  src="none" mute></video>
			<div class="row">
				<div class="col-xs-3">
					<video id='localVideo' autoplay  src="none" mute></video>
				</div>
				<div class="col-xs-9">
					<p><span class="room-url">http://<%= domain %><%= path %></span><br/>
					- share this link with the person you want to connect to.</p>	
				</div>
				
			</div>			
		</section>
		<section class="controls col-md-6">
		<%- include audioControls.ejs %>
		</section>
		
	</div>

<script type='text/javascript'> var room =typeof <%= roomName %> =="undefined"?'':'<%= roomName %>';</script>
<%- include footer.ejs %>